body,
button,
input,
select,
textarea,
p
{
	color: $clouds;
}

h1, h2, h3,
i, b
{
	color:$charcoal;
}

a
{
	transition: .3s;
	background: $charcoal;
	color: $yellow;
	color: $orange;

	&:hover,
	&:focus
	{
		transition: .3s;
		color: $charcoal;
		background: $yellow;
	}
}

.form
{
	background: $orange;

	input
	{
		transition: .3s;
		// border: 1px solid $orange;
	}

	input:focus,
	input:active
	{
		transition: .3s;
		box-shadow: inset 0 0 0px 1px $charcoal;
	}

	input[type='submit']
	{
		background: $charcoal;
		color: $yellow;
		color: $orange;

		&:hover,
		&:focus
		{
			transition: .3s;
			color: $charcoal;
			background: $yellow;
		}
	}
}

body
{
	background: $pale-sky;
}

#what-if
{
	background: $orange;

	.content
	{
		background: $charcoal;
		color: $yellow;
		color: $orange;
	}
}
