#me
{
	position: relative;

	&:after
	{
	  background: url("../images/surprise.png") no-repeat;
	  background-size: contain;

	  content: " ";
	  width: $row * 4;
	  height: $row * 4;
	  border-bottom-left-radius: 53%;
	  position: absolute;
	  right: 0;
	  top: -$row * 4;
	  transition: .2s ease-out;
		opacity: 0;
	}

	&:hover
	{
		&:after
		{
			top: 0;
			opacity: 1;
		}
	}
}
