// VARIABLES

	// units
	$row: 2.25rem;

	// shades
	$black: #000;
	$almost-black: #1a1a1a;
	$almost-white: rgb(243,248,248); // #eee;
	$white: #fff;

	// colours
	$charcoal: #1c142d; //#2A3333;
	$clouds: #362c4b; // #424242; //#4d4d4d;
	//$yellow: #fffd23; //#ff0;
	$yellow: #ffde00;
	$pale-sky: rgba(53, 53, 83, 0.03);
