// VARIABLES

// UNITS

$row: 2.25rem;
// $row: 2.5rem;

// COLOURS

$black: #000;
$almost-black: #1a1a1a;
$almost-white: rgb(243,248,248); // #eee;
$white: #fff;

$charcoal: #1c142d;
$clouds: #362c4b;
$yellow: #ffde00;
$pale-sky: rgba(22, 22, 83, 0.22);
$pink: #faebe283;

// FONTS

$body-font: 'IBM Plex Sans', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, serif;

$headings-font: 'Fredoka One', 'Roboto', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$monospace-font: 'IBM Plex Mono', 'Source Code Pro', monospace;

$rounded-font: 'Nunito', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, serif;
